input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

.g-header
  text-transform: none
.g-icon-h1
  font-size: 30px

.g-icon-h2
  font-size: 25px

.g-header-up
  text-transform: capitalize

.g-text-weight
  font-weight: 500
.g-card-width
  min-width: 60%
.g-text-roomType
  font-size: 18px
.g-size
  font-size: 18px
.g-background
  background-color: #f3f3f3
.g-border
  border-radius: 10px !important
  overflow: hidden
$primary-label : #63A4FF
.g-bg-primary-label
  background-color: $primary-label
$g-warning-noti : #bd8d09
.g-bg-warning-noti
  background-color: $g-warning-noti
.g-text-indent
  text-indent: 30px
.g-display-inline
  display: inline-block
.g-first-up::first-letter
  text-transform: uppercase
